<div class="container">
  <h2 style="margin: 30px 33%">EXPERIENCE & EDUCATION</h2>
  <div class="row" style="margin-bottom: 50px">
    <div class="col" style="display: inline-block">
      <app-experience-box></app-experience-box>
    </div>
    <div class="col" style="display: inline-block">
      <app-experience-box></app-experience-box>
    </div>
  </div>
  <div class="row" style="margin-bottom: 50px">
    <div class="col">
      <app-experience-box></app-experience-box>
    </div>
    <div class="col">
      <app-experience-box></app-experience-box>
    </div>
  </div>
  <div class="row" style="margin-bottom: 50px">
    <div class="col">
      <app-experience-box></app-experience-box>
    </div>
    <div class="col">
      <app-experience-box></app-experience-box>
    </div>
  </div>
</div>
