<div class="container">
  <div class="row">
    <div class="col-2">
      <div class="icon-container">
        <i class="bi bi-briefcase-fill" style="margin: 33%"></i>
      </div>
      <div class="vertical-line"></div>
    </div>
    <div class="col">
      <div class="row" style="display: inline-block; margin-top: 18px">
        <div class="period">2020-2022</div>
      </div>
      <div class="row" style="margin-top: 18px">
        <h5>TITLE</h5>
        <p>
          Lorem ipsum dolor sit amet, consectetur tempor incididunt ut labore
          adipisicing elit
        </p>
      </div>
    </div>
  </div>
</div>
