<div class="reveal fade-bottom">
  <app-description-page></app-description-page>
</div>
<hr class="separator" />
<div class="reveal fade-bottom">
  <app-description-page></app-description-page>
</div>
<hr class="separator" />
<div class="reveal fade-left">
  <app-about-me></app-about-me>
</div>
<hr class="separator" />
<div class="reveal fade-left">
  <app-experience-page></app-experience-page>
</div>
<hr class="separator" />
<div class="reveal fade-left">
  <app-projects></app-projects>
</div>
