h1 span {
  color: #ffb400;
}

h1 {
  font-size: 56px;
  font-weight: 900 !important;
  color: #fff;
  text-transform: uppercase;
  text-align: center; /* Ajout de la propriété pour centrer horizontalement */
}

.title-bg {
  font-size: 110px;
  left: 0;
  letter-spacing: 10px;
  line-height: 0.7;
  position: absolute;
  right: 0;
  top: 7%;
  text-transform: uppercase;
  font-weight: 800;
  transform: translateY(-50%);
  color: hsla(0, 0%, 100%, 0.07);
  align-items: center;
  display: flex; 
  justify-content: center; 
}
.item {
  margin: 30px 0px;
  padding: auto;
}
.title {
  color: rgb(110, 110, 110);

  font-size: 18px;
}
.about-me {
  margin: 30px;
  font-size: 46px;
  text-align: center;
}
.info {
  margin-top: 40px;
}
.cv {
  overflow: hidden;
  display: inline-block;
  line-height: 1.4;
  border-radius: 35px;
  border-color: #ffb400;
  white-space: nowrap;
  text-overflow: ellipsis;
  text-align: center;
  cursor: pointer;
  vertical-align: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
  transition: all 0.25s ease-in-out;
  text-transform: uppercase;
  text-decoration: none !important;
  position: relative;
  z-index: 0;
  padding: 16px 0px 16px 35px;
  font-size: 15px;
  font-weight: 600;
  color: #fff;
  background-color: black;
  width: 221px;
  transition: background-color 0.4s ease;
}

.cv::before {
  content: "";
  position: absolute;
  right: 0;
  top: 0;
  bottom: 0;
  left: 0;
  background-color: #ffb400;
  z-index: -1;
  transition: width 0.4s ease;
  width: 0;
}

.cv:hover::before {
  width: 100%;
}
.icon {
  border-radius: 50%;
  background-color: #ffb400;
  position: absolute;
  left: -1px;
  top: -1px;
  bottom: 0;
  width: 55px;
  height: 55px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 21px;
  color: #fff;
  border-radius: 50%;
}
.skills {
  border-width: 3px;
  border-color: #ffb400;
}
#container
{min-height: 100vh ;
height: auto;
padding-top: 2%;}