<div class="container">
  <h1 style="margin: 0 37%">ABOUT <span>ME</span></h1>
  <span style="margin: 0 35%" class="title-bg">Resume</span>
  <div class="row">
    <div class="col-4">
      <div class="row info">
        <h2>PERSONAL INFO</h2>
      </div>
      <div class="row">
        <div class="col">
          <div class="item">
            <span class="title"> First Name: </span>
            <span class="value"> Iheb </span>
          </div>
          <div class="item">
            <span class="title"> Age: </span>
            <span class="value"> 22 Years </span>
          </div>
          <div class="item">
            <span class="title"> First Name: </span>
            <span class="value"> Iheb </span>
          </div>
          <div class="item">
            <span class="title"> First Name: </span>
            <span class="value"> Iheb </span>
          </div>
          <div class="item">
            <span class="title"> First Name: </span>
            <span class="value"> Iheb </span>
          </div>
        </div>
        <div class="col">
          <div class="item">
            <span class="title"> First Name: </span>
            <span class="value"> Iheb </span>
          </div>
          <div class="item">
            <span class="title"> First Name: </span>
            <span class="value"> Iheb </span>
          </div>
          <div class="item">
            <span class="title"> First Name: </span>
            <span class="value"> Iheb </span>
          </div>
          <div class="item">
            <span class="title"> First Name: </span>
            <span class="value"> Iheb </span>
          </div>
          <div class="item">
            <span class="title"> First Name: </span>
            <span class="value"> Iheb </span>
          </div>
        </div>
      </div>
      <div class="row">
        <button class="cv">
          Download CV
          <span class="icon"><i class="bi bi-download"></i></span>
        </button>
      </div>
    </div>
  </div>
</div>
