<div class="container" id="container">
  <h1 class="text-center mb-5">ABOUT <span>ME</span></h1>
  <div class="row">
    <div class="col-lg-6">
      <div class="info mt-5">
        <h2>PERSONAL INFO</h2>
      </div>
      <div class="row">
        <div class="col-sm-6">
          <div class="item">
            <span class="title"> First Name: </span>
            <span class="value"> Iheb </span>
          </div>
          <div class="item">
            <span class="title"> Age: </span>
            <span class="value"> 22 Years </span>
          </div>
          <div class="item">
            <span class="title"> Address: </span>
            <span class="value"> Tunis </span>
          </div>
          <div class="item">
            <span class="title"> Email: </span>
            <span class="value"> iheb30abdelkader@gmail.com </span>
          </div>
        </div>
        <div class="col-sm-6">
          <div class="item">
            <span class="title"> Last Name: </span>
            <span class="value"> Abdelkader </span>
          </div>
          <div class="item">
            <span class="title"> Nationality: </span>
            <span class="value"> Tunisian </span>
          </div>
          <div class="item">
            <span class="title"> Phone: </span>
            <span class="value"> +21628604168 </span>
          </div>
          <div class="item">
            <span class="title"> Languages: </span>
            <span class="value"> English, French, Arabic </span>
          </div>
        </div>
      </div>
      <div class="row mt-4">
        <div class="col button-container">
          <button class="cv" (click)="downloadPdf()">
            <span class="download">Download Resume</span>
            <span class="icon"><i class="bi bi-download"></i></span>
          </button>
        </div>
      </div>
    </div>
    <div class="col-lg-6 skills mt-4">
      <div class="label">
        <h2>SKILLS</h2>
      </div>
      <div class="row justify-content-center">
        <div class="col-6 col-sm-3">
          <div class="skill-container">
            <img src="assets\Unity-logo.png" class="skill" />
          </div>
        </div>
        <div class="col-6 col-sm-3">
          <div class="skill-container">
            <img src="assets\c.png" class="skill" />
          </div>
        </div>
        <div class="col-6 col-sm-3">
          <div class="skill-container">
            <img src="assets\c++.png" class="skill" />
          </div>
        </div>
        <div class="col-6 col-sm-3">
          <div class="skill-container">
            <img src="assets\python.png" class="skill" />
          </div>
        </div>
        <!-- Add more skill columns as needed -->
      </div>
      <div class="row justify-content-center">
        <div class="col-6 col-sm-3">
          <div class="skill-container">
            <img src="assets\photoshop.png" class="skill" />
          </div>
        </div>
        <div class="col-6 col-sm-3">
          <div class="skill-container">
            <img src="assets\git.png" class="skill" />
          </div>
        </div>
        <div class="col-6 col-sm-3">
          <div class="skill-container">
            <img src="assets\admob.png" class="skill" />
          </div>
        </div>
        <div class="col-6 col-sm-3">
          <div class="skill-container">
            <img src="assets\blender.png" class="skill" />
          </div>
        </div>
        <!-- Add more skill columns as needed -->
      </div>
    </div>
  </div>
</div>
